<section class='cohort-background'>
    <div class='cohort-fixedSideMenu'></div>
        <div class='cohort-topGraphBox'>
            <div class='cohort-qTimeMentorGraphs'>
                <div class='cohort-qTimeGraphs'>
                    <div class='cohort-qTimeGraphsHeader'>
                        <h3>AVERAGE Q HELP TIME</h3>
                        <img src='./assets/arrow_svg-arrow.svg'>
                    </div>

                </div>
                <div class='cohort-mentorHelpGraph'></div>
            </div>
            <div class='cohort-attendenceCalender'></div>
        </div>


</section>