<section class='cohort-background' id='bleck'>
    <div class='cohort-fixedSideMenu'>
        <img ng-click="openCohortNav()" src='./assets/hamburger-15.svg'>
        <!--<img ng-click="openCohortNav(); closeNav()" src='./assets/hamburger-15.svg'>-->
    </div>
    <div id="cohort-sidenav" class="cohort-sidenavContent">
        <div class='cohort-sidenavAllContent'>
            <div class='cohort-sidenavClassList'>
                <div ng-repeat="cohort in user.cohort_ids | filter: sideNavFilter" ng-click="setSelected(cohort.id)">
                    <h4 ng-class='{selected : cohort.id === selectedCohortId}' ng-click='openCohortStudentNav()' style='cursor: pointer'>{{cohort.alias}}</h4>
                </div>
            </div>
            <div class='cohort-sidenavFilterBox'>
                <h3>LOCATION</h3>
                <select id="selectbox" class='cohort-selectStyle' ng-model='sideNavFilter.location'>
                            <option value="">All Locations</option>
                            <option value="Provo">Provo, UT</option>
                            <option value="SLC">SLC, UT</option>
                            <option value="Dallas">Dallas, TX</option>
                </select>
                <h3>PROGRAM</h3>
                <select id="selectbox" class='cohort-selectStyle' ng-model='sideNavFilter.program'>
                            <option value="">All Programs</option>
                            <option value="Web">Web Development</option>
                            <option value="iOS">iOS Development</option>
                            <option value="UX">UX Design</option>
                </select>
                <h2 class='cohort-showAll' ng-click='getAllCohorts()'>SHOW ALL</h2>
                <h2 ng-click='removeAllCohorts()'>RESET DEFAULT</h2>
            </div>
        </div>
    </div>
    <div id="cohort-sidenavStudent" class="cohort-sidenavStudentContent">
        <div>
            <a href="javascript:void(0)" class="cohort-closebtn" ng-click="closeCohortStudentNav()"><img src='./assets/x-15.svg'></a>
        </div>
        <div class='cohort-sidenavStudentContentBox'>
            <div>
                <div class='cohort-sidenavStudentContentSelectButtonBox'>
                    <h2>SELECT ALL</h2>
                    <h2>DESELECT ALL</h2>
                </div>
                <div class='cohort-cohortStudentList'>
                    <div>
                        <div ng-repeat="student in students" ng-click="getSelected(student)">
                            <h5 style='cursor: pointer' ng-class='{selected : student === selectedStudents}'>{{student}}</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class='cohort-applyButton'>
                <h2 ng-click="closeCohortStudentNav()">APPLY</h2>
            </div>
        </div>
    </div>
    <div class='cohort-topGraphBox'>
        <div class='cohort-qTimeMentorGraphs'>
            <div class='cohort-qTimeGraphs' id='cohortLineChartDiv'>
                <div class='cohort-qTimeGraphsHeader cohort-dropdown'>
                    <select id="selectboxQtime" class='cohort-qTimeGraphSelector'>
                            <option value="helpQ">AVERAGE Q HELP TIME</option>
                            <option value="waitQ">AVERAGE Q WAIT TIME</option>
                            <option value="totalQ">TOTAL Q TIME </option>
                    </select>
                    <input class='cohort-graphDateSelector' type="text" id='qTimeDateRange' />
                </div>
                <div style='text-align: center; margin: 0 auto; padding: 70px;' ng-if='!cohortQData'>Give it a second!</div>
                <cohort-line-chart ng-if='cohortQData.length > 0' cohort-time-data='cohortQData'></cohort-line-chart>
            </div>
            <div class='cohort-mentorHelpGraph' id='mentorHelpDiv'>
                <div class='cohort-mentorGraphNav'>
                    <h3>AVERAGE MENTOR <br>HELP TIME <br>PER REQUEST</h3>
                    <input class='cohort-graphDateSelector' type="text" id="mentorHelpDateRange" />
                </div>
                <h5 ng-if='!mentorPieData'>Currently there is no data to display. </h5>
                <mentor-pie ng-if='mentorPieData.length > 0' mentor-data='mentorPieData'></mentor-pie>
                <div class='cohort-mentorGraphKey' ng-if='mentorPieData.length > 0'>
                    <div class='cohort-mentorGraphKeyBoxes'>
                        <div class='cohort-mentorCircleKey'></div>
                        <h5>{{mentors[0].average}} - {{mentors[0].name}}Monty Nissan</h5>
                    </div>
                    <div class='cohort-mentorGraphKeyBoxes'>
                        <div class='cohort-mentorCircleKey1'></div>
                        <h5>{{mentors[1].average}} - {{mentors[1].name}}Gabrielle Lopez</h5>
                    </div>
                    <div class='cohort-mentorGraphKeyBoxes'>
                        <div class='cohort-mentorCircleKey2'></div>
                        <h5>{{mentors[2].average}} - {{mentors[2].name}}Laura Donahue</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class='cohort-attendenceCalender'>
            <div class='cohort-attendenceCalenderBox'>
                <div class='cohort-attendenceCalenderGraph'>
                    <div id='attendanceCalendar'></div>
                </div>
                <!--<div class='cohort-attencenceGraphKey'>
                    <div>1 Absence</div>
                    <div>2 Absences</div>
                    <div>3+ Absences</div>
                </div>-->
                <div class='cohort-attencenceStudentList'>
                    <div class='cohort-attencenceStudentListBox'>
                        <h4 ng-repeat='student in absentStudents'><!--{{student.name}}-->Leigh Tee(<span>{{student.count}}</span>)</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class='cohort-middleGraphBox'>
        <div class='cohort-graduationGraphBox' id='progressDiv'>
            <h3>PROGRESS TO GRADUATION</h3>
            <progress-scatter-chart progress-data='progressData' ng-if='progressData.length > 0'></progress-scatter-chart>
        </div>
        <div class='cohort-projectScoresGraphBox' id='projectScoresDiv'>
            <h3>PROJECT SCORES</h3>
            <div class="pr-btn-container">

            <div id='pp' class='project-buttons' ng-click='updateBar("pp")'>PERSONAL</div>
            <div id='np' class='project-buttons' ng-click='updateBar("np")'>NO SERVER</div>
            <div id='gp' class='project-buttons' ng-click='updateBar("gp")'>GROUP</div>
            
            </div>
            <bar-chart project-data='projectData' ng-if='projectData.length > 0' project-name='projectName'></bar-chart>
        </div>
    </div>
    <div class='cohort-bottomGraphBox'>
        <div class='cohort-pieTotalGraph' id='averageDiv'>
            <div class='cohort-pieGraphsNav'>
                <h3>HIGHEST AVERAGE<br>Q TIME PER REQUEST</h3>
                <input class='cohort-graphDateSelector' type="text" id="daterange1" />
            </div>
            <h5 ng-if='mostAverage.length < 1' style='text-align: center; height: 35vh;'>Currently there is no <br> data to display. </h5>
            <average-pie ng-if='mostAverage.length > 0' average-data='mostAverage'></average-pie>
            <div class='cohort-pieGraphsKeyBox' ng-if='mostAverage.length > 0'>
                <div class='cohort-mentorGraphKeyBoxes'>
                    <div class='cohort-mentorCircleKey'></div>
                    <h5>{{mostAverage[0].percent}}% - {{mostAverage[0].name}}John Doe</h5>
                </div>
                <div class='cohort-mentorGraphKeyBoxes'>
                    <div class='cohort-mentorCircleKey1'></div>
                    <h5>{{mostAverage[1].percent}}% - {{mostAverage[1].name}}Jane Doe</h5>
                </div>
                <div class='cohort-mentorGraphKeyBoxes'>
                    <div class='cohort-mentorCircleKey2'></div>
                    <h5>{{mostAverage[2].percent}}% - {{mostAverage[2].name}}Peter Peterson</h5>
                </div>
            </div>
        </div>
        <div class='cohort-pieHelpGraph' id='helpDiv'>
            <div class='cohort-pieGraphsNav'>
                <h3>MOST REQUESTED <br> Q HELP TIME</h3>
                <input class='cohort-graphDateSelector' type="text" id="daterange2" />
            </div>
            <h5 ng-if='!mostHelped' style='text-align: center; height: 35vh;'>Currently there is no <br> data to display. </h5>
            <help-pie ng-if='mostHelped.length > 0' help-data='mostHelped'></help-pie>
            <div class='cohort-pieGraphsKeyBox' ng-if='mostHelped.length > 0'>
                <div class='cohort-mentorGraphKeyBoxes'>
                    <div class='cohort-mentorCircleKey'></div>
                    <h5>{{mostHelped[0].percent}}% - {{mostHelped[0].name}}Brian Fry</h5>
                </div>
                <div class='cohort-mentorGraphKeyBoxes'>
                    <div class='cohort-mentorCircleKey1'></div>
                    <h5>{{mostHelped[1].percent}}% - {{mostHelped[1].name}}Stephanie Miles</h5>
                </div>
                <div class='cohort-mentorGraphKeyBoxes'>
                    <div class='cohort-mentorCircleKey2'></div>
                    <h5>{{mostHelped[2].percent}}% - {{mostHelped[2].name}}Emily Leeson</h5>
                </div>
            </div>
        </div>
        <div class='cohort-pieStudentRequestGraph' id='requestsDiv'>
            <div class='cohort-pieGraphsNav'>
                <h3>MOST REQUESTS <br> PER STUDENT</h3>
                <input class='cohort-graphDateSelector' type="text" id="daterange3" />
            </div>
            <h5 ng-if='!mostRequests' style='text-align: center; height: 35vh;'>Currently there is no <br> data to display. </h5>
            <requests-pie ng-if='mostRequests.length > 0' requests-data='mostRequests'></requests-pie>
            <div class='cohort-pieGraphsKeyBox' ng-if='mostRequests.length > 0'>
                <div class='cohort-mentorGraphKeyBoxes'>
                    <div class='cohort-mentorCircleKey'></div>
                    <h5>{{mostRequests[0].percent}}% - {{mostRequests[0].name}}Jack Jackson</h5>
                </div>
                <div class='cohort-mentorGraphKeyBoxes'>
                    <div class='cohort-mentorCircleKey1'></div>
                    <h5>{{mostRequests[1].percent}}% - {{mostRequests[1].name}}Jenny Jennison</h5>
                </div>
                <div class='cohort-mentorGraphKeyBoxes'>
                    <div class='cohort-mentorCircleKey2'></div>
                    <h5>{{mostRequests[2].percent}}% - {{mostRequests[2].name}}Terry Tenson</h5>
                </div>
            </div>
        </div>
    </div>

    
</section>