<section class='home-background'>
    <div class='home-alert'>
        <div class='home-alertTotalBar'>
            <h2>ALERTS ( <span>12</span> )</h2>
        </div>
        <div class='home-alertFeed' >
            <div class='home-alerts' ng-repeat='red in redAlerts'>
                <div class='home-alertDisplay'>
                    <h4>RED ALERT</h4>
                    <h5>{{red.name}} has been waiting in the Q for {{red.waitTime}} minutes.</h5>
                </div>
                <div class='home-alertButton'>
                    <div class='home-buttonBox'>
                        <p>IGNORE</p>
                        <p>RESOLVE</p>
                    </div>
                </div>
            </div>
             <div class='home-alerts' ng-repeat='attendanceAlert in attendanceAlerts'>
                <div class='home-alertDisplay home-yellowDisplay'>
                    <h4>ATTENDANCE ALERT</h4>
                    <h5>{{attendanceAlert[0]}} {{attendanceAlert[1]}} was absent yesterday.</h5>
                </div>
                <div class='home-alertButton'>
                    <div class='home-buttonBox'>
                        <p>IGNORE</p>
                        <p>RESOLVE</p>
                    </div>
                </div>
            </div>
            <div class='home-alerts' ng-repeat='progressAlert in progressAlerts'>
                <div class='home-alertDisplay home-yellowDisplay'>
                    <h4>PROGRESS ALERT</h4>
                    <h5>{{progressAlert}} is not on track for graduation.</h5>
                </div>
                <div class='home-alertButton'>
                    <div class='home-buttonBox'>
                        <p>IGNORE</p>
                        <p>RESOLVE</p>
                    </div>
                </div>
            </div>
             <div class='home-alerts' ng-repeat='noAttendanceAlert in noAttendanceAlerts'>
                <div class='home-alertDisplay home-yellowDisplay'>
                    <h4>NO ATTENDANCE ALERT</h4>
                    <h5>{{noAttendanceAlert.alias}} did not take attendance yesterday.</h5>
                </div>
                <div class='home-alertButton'>
                    <div class='home-buttonBox'>
                        <p>IGNORE</p>
                        <p>RESOLVE</p>
                    </div>
                </div>
            </div>
             <div class='home-alerts' ng-repeat='studentQAlert in studentQAlerts'>
                <div class='home-alertDisplay home-yellowDisplay'>
                    <h4>Q TIME ALERT</h4>
                    <h5>{{studentQAlert.name}} took {{studentQAlert.percent}} of the total Q time.</h5>
                </div>
                <div class='home-alertButton'>
                    <div class='home-buttonBox'>
                        <p>IGNORE</p>
                        <p>RESOLVE</p>
                    </div>
                </div>
            </div>



        </div>
    </div>
    <div class='home-graphs'>
        <div class='home-totalQTime' id='totalQDiv'>
            <div class='home-totalGraphBar'>
                <h2>TOTAL Q TIME</h2>
            </div>
            <total-line-chart ng-if='totalQ.length > 0' total-time-data='totalQ'></total-line-chart>
        </div>
        <div class='home-bottomGraphs'>
            <div class='home-waitQTime' id='waitQDiv'>
                <div class='home-bottomGraphsBar'>
                    <h3>Q WAIT TIME</h3>
                </div>
                <wait-line-chart ng-if='waitQ.length > 0' wait-time-data='waitQ'></wait-line-chart>
            </div>
            <div class='home-helpQTime' id='helpQDiv'>
                <div class='home-bottomGraphsBar'>
                    <h3>Q HELP TIME</h3>
                </div>
                <help-line-chart ng-if='helpQ.length > 0' help-time-data='helpQ'></help-line-chart>
            </div>
        </div>
    </div>
</section>