<section class='home-background'>
    <div class='home-alert'>
        <div class='home-alertTotalBar'>
            <h2>ALERTS ( <span>12</span> )</h2>
        </div>
        <div class='home-alertFeed' >
            <div class='home-alerts' ng-repeat='red in redAlerts'>
                <div class='home-alertDisplay'>
                    <h4>RED ALERT</h4>
                    <h5>{{red.name}} has been waiting in the Q for {{red.waitTime}} minutes.</h5>
                </div>
                <div class='home-alertButton'>
                    <div class='home-buttonBox'>
                        <p>IGNORE</p>
                        <p>RESOLVE</p>
                    </div>
                </div>
            </div>
            <div class='home-alerts'>
                <div class='home-alertDisplay home-yellowDisplay'>
                    <h4>ATTENDANCE</h4>
                    <h5>Sally LaRue was absent on 3/19.</h5>
                </div>
                <div class='home-alertButton'>
                    <div class='home-buttonBox'>
                        <p>IGNORE</p>
                        <p>RESOLVE</p>
                    </div>
                </div>
            </div>



        </div>
    </div>
    <div class='home-graphs'>
        <div class='home-totalQTime'>
            <div class='home-totalGraphBar'>
                <h2>TOTAL Q TIME</h2>
            </div>
            <total-line-chart ng-if='totalQ.length > 0' total-time-data='totalQ'></total-line-chart>
        </div>
        <div class='home-bottomGraphs'>
            <div class='home-waitQTime'>
                <div class='home-bottomGraphsBar'>
                    <h3>Q WAIT TIME</h3>
                </div>
                <wait-line-chart ng-if='waitQ.length > 0' wait-time-data='waitQ'></wait-line-chart>
            </div>
            <div class='home-helpQTime'>
                <div class='home-bottomGraphsBar'>
                    <h3>Q HELP TIME</h3>
                </div>
                <help-line-chart ng-if='helpQ.length > 0' help-time-data='helpQ'></help-line-chart>
            </div>
        </div>
    </div>
</section>