<section class='home-background'>
        <div class='home-alert'>
            <div class='home-alertTotalBar'>
                <h2>ALERTS ( <span>12</span> )</h2>
            </div>
            <!--<div class-'home-alertsFeed'></div>-->


        </div>

        <div class='home-graphs'>
            <div class='home-totalQTime'>
                <div class='home-totalGraphBar'>
                    <h2>TOTAL Q TIME</h2>
                </div>
            </div>
            <div class='home-bottomGraphs'>
                <div class='home-waitQTime'>
                    <div class='home-bottomGraphsBar'>
                        <h3>Q WAIT TIME</h3>
                    </div>
                </div>
                <div class='home-helpQTime'>
                    <div class='home-bottomGraphsBar'>
                        <h3>Q HELP TIME</h3>
                    </div>

                </div>
            </div>

        </div>
</section>