<section class='surveys-section'>
    <div class='surveys-graphBox'>
        <div class='surveys-boxBar'></div>
    </div>
</section>
<section class='surveys-alertSection'>
    <div class='surveys-alertsContainer'>
        <div class='surveys-alertBox'>
            <div class='surveys-boxBar'></div>
            <div class='surveys-alertFeed' >
                </div>
        </div>
        <div class='surveys-barGraphBox'>
            <div class='surveys-boxBar'></div>
        </div>
    </div>
</section>