<section class='surveys-section' ng-controller='surveysCtrl'>
    <div class='surveys-graphBox' id="graphBoxDiv">
        <div class='surveys-boxBar'>
            <h3>WEEKLY SURVEY SCORES</h3>
            <div class='survey-ScatterSelectsContainer'>
                <div class='survey-ScatterSelectorBackground'>
                        <select ng-model='surveyName' class='cohort-ScatterGraphSelector'  ng-change='changeSurveyName()'>
                                <option selected value="OSAT">Overall Satisfaction</option>
                                <option value="MSAT">Mentor Satisfaction</option>
                                <option value="FSAT">Instructor Satisfaction</option>
                                <option value="CSAT">Curriculum Satisfaction</option>
                    </select>
                </div>

                <div class='survey-ScatterSelectorBackground'>
                    <select ng-model='selectedProgram' class='cohort-ScatterGraphSelector' ng-change='changeselectedProgram()'>
                            <option selected value="all">All Programs</option>
                            <option value="webdev">Web Development</option>
                            <option value="ux">UX-UI</option>
                            <option value="ios">IOS</option>
                            <option value="qa">QA</option>
                    </select>
                </div>
            </div>
        </div>
        <survey-scatter sd='sd' survey='surveyName'></survey-scatter>
    </div>
        <div class='surveys-graphBox' id="topicDiv">
            <div class='surveys-boxBar'>
                <h3>SURVEY TOPIC SCORES</h3>
                    <div class='survey-ScatterSelectorBackground'>
                        <select ng-model='surveyTopic' class='cohort-ScatterGraphSelector' ng-change='changeSelectedTopic()'>
                                <option value="Javascript">Javascript</option>
                                <option value="React">React</option>
                                <option value="Angular">Angular</option>
                                <option value='CSS'>CSS</option>
                                <option value='Node'>Node</option>
                                <option value='SQL'>SQL</option>
                        </select>
                </div>
            </div>
            <topic-line-chart topicdata="topicData"></topic-line-chart>
        </div>
    </section>
<section class='surveys-alertSection'>
    <div class='surveys-alertsContainer'>
        <div class='surveys-alertBox'>
            <div class='surveys-boxBar'>
                <h2>ALERTS (<span></span>)</h2>
            </div>
            <div class='surveys-alertFeed'>
                <div class='surveys-alerts'>
                    <div>
                        <div class='surveys-alertDisplay'>
                            <h4>SURVEY ALERT</h4>
                            <h5>Alert Information...</h5>
                        </div>
                    </div>
                </div>
                <div class='surveys-alerts'>
                    <div>
                        <div class='surveys-alertDisplay'>
                            <h4>SURVEY ALERT</h4>
                            <h5>Alert Information...</h5>
                        </div>
                    </div>
                </div>
                <div class='surveys-alerts'>
                    <div>
                        <div class='surveys-alertDisplay'>
                            <h4>SURVEY ALERT</h4>
                            <h5>Alert Information...</h5>
                        </div>
                    </div>
                </div>
                <div class='surveys-alerts'>
                    <div>
                        <div class='surveys-alertDisplay'>
                            <h4>SURVEY ALERT</h4>
                            <h5>Alert Information...</h5>
                        </div>
                    </div>
                </div>
                <div class='surveys-alerts'>
                    <div>
                        <div class='surveys-alertDisplay'>
                            <h4>SURVEY ALERT</h4>
                            <h5>Alert Information...</h5>
                        </div>
                    </div>
                </div>
                <div class='surveys-alerts'>
                    <div>
                        <div class='surveys-alertDisplay'>
                            <h4>SURVEY ALERT</h4>
                            <h5>Alert Information...</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class='surveys-barGraphBox'>
            <div class='surveys-boxBar'>
                <h3>COMPLETED SURVEYS</h3>
                 <div class='cohort-SelectorBackground'>
                    <select class='cohort-ScatterGraphSelector'>
                            <option value="dm23">DM23</option>
                            <option value="dm24">DM24</option>
                            <option value="dm25">DM25</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</section>