.ui-datepicker,
.ui-datepicker table,
.ui-datepicker tr,
.ui-datepicker td,
.ui-datepicker th {
    margin: 0;
    padding: 0;
    border: none;
    border-spacing: 0;
}

.ui-datepicker table {
    margin-left: -20px !important;
}

.ui-datepicker {
    margin: 0 auto;
    cursor: default;
    text-transform: uppercase;
    font-size: 12px;
}


/*.hasDatepicker {
    padding-right: 40px;
}*/

.ui-datepicker-header {
    width: 230px;
    padding-bottom: 25px;
    margin-left: -20px;
}
 
.ui-datepicker-title { 
  text-align: center; 
  padding: 15px 0 15px 10px;
  }
 
.ui-datepicker-month {
    color: #a8a8a8;
}
 
.ui-datepicker-year {
    color: #a8a8a8;
}

.ui-datepicker-prev,
.ui-datepicker-next {
    position: absolute;
    top: -2px;
    padding: 20px 5px 5px 5px;
    cursor: pointer;
    background: url(../assets/arrow_svg-arrow.svg) no-repeat center;
    background-size: 17px;
}
 
.ui-datepicker-prev {
    left: 0;
    padding-left: 0;
    transform: rotate(90deg);
    padding-top: 45px;
}
 
.ui-datepicker-next {
    right: 0;
    padding-right: 0;
    transform: rotate(-90deg);
    padding-top: 48px;
    margin-right: -10px;
}
 
.ui-datepicker-prev span { background-position: 0px 0px; }
 
.ui-datepicker-next span { background-position: -5px 0px; }
 
.ui-datepicker-prev-hover span { background-position: 0px -10px; }
 
.ui-datepicker-next-hover span { background-position: -5px -10px; }

.ui-datepicker-calendar {
  height: 210px;
}

.ui-datepicker-calendar th {
    padding-top: 15px;
    padding-bottom: 25px;
    height: 35px;
    text-align: center;
    font-weight: normal;
    color: #181818;
}

.ui-datepicker-calendar td {
    text-align: center;
    line-height: 26px;
}
 
.ui-datepicker-calendar .ui-state-default {
    display: block;
    width: 33px;
    height: 30px;
    text-align: center;
    outline: none;
    text-decoration: none;
    color: #a8a8a8;
    padding: 5px;
}

.ui-datepicker-calendar .ui-state-active {
    color: #21AAE1;
}
 
.ui-datepicker-other-month .ui-state-default { color: #565656; }

td.highlight {
    background-color: #c41c1c;
    border-radius: 50%;
}
