.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.tick text {
  fill: #888
}

.line {
  stroke: #21AAE1;
  stroke-width: 1.5px;
  fill: none;
}

.lineDots {
  fill: #21AAE1;
}

#totalLineChart {
  width: 400px;
  margin: 0;
}


/*hover on line chart*/

.focus circle {
  fill: #444;
}

.hover-line {
  stroke: #444;
  stroke-width: 1px;
  stroke-dasharray: 5, 4;
}

.overlay {
  fill: none;
  pointer-events: all;
}


/*pie chart*/

.arc text {
  font: 10px sans-serif;
  text-anchor: middle;
}


/*bar chart*/

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */

.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */

.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}