.cohort-background {
    height: 300vh;
    width: 100%;
    padding-top: 80px;
    /*background: linear-gradient(-45deg, #282828, #1a1a1a);*/
    background: #1a1a1a;
    background-attachment: fixed;
}

.cohort-fixedSideMenu {
    height: 100vh;
    width: 60px;
    background: #282828;
    position: fixed;
    box-shadow: 6px 6px 17px 2px rgba(0, 0, 0, .4);
}

.cohort-fixedSideMenu img {
    width: 30px;
    height: 30px;
    margin-left: 15px;
    margin-top: 10px;
}

.cohort-topGraphBox {
    height: calc(100vh - 80px);
    width: calc(100% - 60px);
    margin-left: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cohort-qTimeMentorGraphs {
    width: 66%;
    height: 78vh;
    margin-right: 15px;
}


.cohort-qTimeGraphs {
    width: 100%;
    height: calc(48vh - 30px);
    margin-bottom: 30px;
    background: #282828;
    box-shadow: 6px 6px 17px 2px rgba(0, 0, 0, .4);
}

.cohort-qTimeGraphsHeader {
    width: 100%;
    height: 50px;
    background: linear-gradient(-45deg, #333, #444);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 25px;
}

.cohort-qTimeGraphsHeader img {
    width: 20px;
    height: 20px;
    margin-left: 15px;
}

.cohort-qTimeGraphSelector {
    display: flex;
    align-items: center;
}

.cohort-graphDateSelector {
    justify-content: space-around;
    display: flex;
    align-items: center;
    width: 200px;
    height: 35px;
    background: linear-gradient(-45deg, #1a1a1a, #333);
    margin-right: 15px;
}

.cohort-graphDateSelector img {
    width: 20px;
    height: 20px;
    padding-top: 3px;
    margin-left: 35px;
}

.cohort-mentorHelpGraph {
    width: 100%;
    height: 30vh;
    background: #282828;
    box-shadow: 6px 6px 17px 2px rgba(0, 0, 0, .4);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cohort-mentorGraphNav {
    width: calc(30% - 20px);
    height: 20vh;
    line-height: 20px;
    margin-left: 20px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.cohort-mentorCircleGraph {
    width: 30%;
}

.cohort-mentorGraphKey {
    width: 30%;
    height: 30vh;
    line-height: 20px;
    padding-top: 8vh;
}

.cohort-mentorGraphKeyBoxes {
    display: flex;
    padding-bottom: 10px;

}

.cohort-mentorCircleKey{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #25aae1;
    
}

.cohort-mentorGraphKeyBoxes h5 {
    margin-left: 20px;
}

.cohort-attendenceCalender {
    width: 26%;
    height: 78vh;
    background: #282828;
    margin-left: 15px;
    box-shadow: 6px 6px 17px 2px rgba(0, 0, 0, .4);
}

.cohort-attendenceCalenderBox {
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    margin: 20px 20px;
    
}

.cohort-attendenceCalenderGraph {
    height: 43vh;
    /*background: grey;*/

}

.cohort-attencenceGraphKey {
    height: 9vh;
    /*background: purple;*/
}

.cohort-attencenceStudentList {
    height: 20vh;
    background: #1a1a1a;
    overflow-y: scroll;
    overflow: auto;
}

.cohort-attencenceStudentListBox {
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    margin: 20px 20px;

}

.cohort-attencenceStudentListBox h4 {
    padding-bottom: 10px;
}

.cohort-attencenceStudentListBox span {
    color: #25aae1;
}


.cohort-middleGraphBox {
    height: calc(100vh - 80px);
    width: calc(100% - 60px);
    margin-left: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}