.cohort-background {
    height: 270vh;
    width: 100%;
    padding-top: 80px;
    /*background: linear-gradient(-45deg, #282828, #1a1a1a);*/
    background: #1a1a1a;
}

.cohort-fixedSideMenu {
    height: 100vh;
    width: 60px;
    background: #282828;
    position: fixed;
    box-shadow: 6px 6px 17px 2px rgba(0, 0, 0, .4);
}

.cohort-fixedSideMenu img {
    width: 30px;
    height: 30px;
    margin-left: 15px;
    margin-top: 10px;
}

.cohort-sidenavContent {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: #444;
    overflow-x: hidden;
    padding-top: 80px;
    transition: 0.5s;
    box-shadow: 6px 6px 17px 2px rgba(0, 0, 0, .4);
}

.cohort-sidenavContent a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s
}

.cohort-sidenavClassList {
    width: 100%;
    height: 58vh;
}

.cohort-sidenavClassList h4 {
    font-size: 20px;
    padding: 10px 25px;
}

.cohort-sidenavFilterBox {
    width: calc(100% - 20px);
    height: 30vh;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.cohort-sidenavFilterBox h3 {
    padding-bottom: 5px;
}

.cohort-selectStyle {
    background: #1a1a1a;
    border: none;
    width: 100%;
    height: 25px;
    color: #999999;
    outline: none;
    margin-bottom: 20px;
     font-size: 10px;
}

.cohort-sidenavFilterBox h2 {
    width: 100%;
    background: #1a1a1a;
    padding: 7px 10px;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
    margin-bottom: 7px;
}

.cohort-sidenavStudentContent {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #282828;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
    box-shadow: 6px 6px 17px 2px rgba(0, 0, 0, .4);
}

.cohort-sidenavStudentContent a {
    padding: 8px 8px 8px 20px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
}

.cohort-sidenavStudentContent .cohort-closebtn {
    position: absolute;
    /*top: 0;*/
    right: 0;
    padding-top: 10px;
    font-size: 46px;
    color: #999999;
}

.cohort-closebtn img {
    width: 20px;
    height: 20px;
}

.cohort-sidenavStudentContentBox {
    margin-top: 10px;
    width: 217px;
    height: calc(100% - 10px);
    float: right;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.cohort-sidenavStudentContentSelectButtonBox {
    width: 100%;
    height: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

.cohort-sidenavStudentContentSelectButtonBox h2 {
    margin-top: 10px;
    width: calc(100% - 40px);
    background: #444;
    padding: 8px 20px;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
}

.cohort-applyButton {
   margin-bottom: 20px;
    width: calc(100% - 40px);
    background: #444;
    padding: 8px 20px;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
    

}

.cohort-topGraphBox {
    height: calc(100vh - 80px);
    width: calc(100% - 60px);
    margin-left: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cohort-qTimeMentorGraphs {
    width: 66%;
    height: 78vh;
    margin-right: 15px;
}

.cohort-qTimeGraphs {
    width: 100%;
    height: calc(48vh - 30px);
    margin-bottom: 30px;
    background: #282828;
    box-shadow: 6px 6px 17px 2px rgba(0, 0, 0, .4);
}

.cohort-qTimeGraphsHeader {
    width: 100%;
    height: 50px;
    background: linear-gradient(-45deg, #333, #444);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 25px;
}


.cohort-qTimeGraphSelector {
    display: flex;
    align-items: center;
}

.cohort-graphDateSelector {
    justify-content: space-around;
    display: flex;
    align-items: center;
    width: 200px;
    height: 35px;
    background: url("../assets/dropdown-calendar-15.svg");
    background-size: cover;
    margin-right: 15px;
    border: none;
    outline: none;
    color: #999999;
    font-size: 12px;
    padding-left: 10px;
}


.cohort-mentorHelpGraph {
    width: 100%;
    height: 30vh;
    background: #282828;
    box-shadow: 6px 6px 17px 2px rgba(0, 0, 0, .4);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cohort-mentorGraphNav {
    width: calc(30% - 20px);
    height: 20vh;
    line-height: 20px;
    margin-left: 20px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.cohort-mentorCircleGraph {
    width: 30%;
}

.cohort-mentorGraphKey {
    width: 30%;
    height: 30vh;
    line-height: 20px;
    padding-top: 8vh;
}

.cohort-mentorGraphKeyBoxes {
    display: flex;
    padding-bottom: 10px;
}

.cohort-mentorCircleKey {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #25aae1;
}

.cohort-mentorCircleKey:nth-child(2) {
    background: #297faa;
}

.cohort-mentorCircleKey:nth-child(3) {
    background: #1c648c;
}

.cohort-mentorGraphKeyBoxes h5 {
    margin-left: 20px;
}

.cohort-attendenceCalender {
    width: 26%;
    height: 78vh;
    background: #282828;
    margin-left: 15px;
    box-shadow: 6px 6px 17px 2px rgba(0, 0, 0, .4);
}

.cohort-attendenceCalenderBox {
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    margin: 20px 20px;
}

.cohort-attendenceCalenderGraph {
    height: 43vh;
}

.cohort-attencenceGraphKey {
    height: 9vh;
    display: flex;
    font-size: 12px;
    align-items: center;
    color: #a0a0a0;
}

.cohort-attencenceGraphKey div {
    width: 33%;
    padding-top: 3px;
    border-top: 3px solid #c41c1c;
}

.cohort-attencenceGraphKey div:nth-child(2) {
    border-top: 3px solid #771111;
}

.cohort-attencenceGraphKey div:nth-child(3) {
    border-top: 3px solid #510c0c;
}

.cohort-attencenceStudentList {
    height: 20vh;
    background: #1a1a1a;
    overflow-y: scroll;
    overflow: auto;
}

.cohort-attencenceStudentListBox {
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    margin: 20px 20px;
}

.cohort-attencenceStudentListBox h4 {
    padding-bottom: 10px;
}

.cohort-attencenceStudentListBox span {
    color: #25aae1;
}

.cohort-middleGraphBox {
    height: calc(90vh - 80px);
    width: calc(100% - 60px);
    margin-left: 60px;
    display: flex;
    justify-content: center;
}

.cohort-graduationGraphBox {
    width: calc(49% - 40px);
    height: 78vh;
    background: #282828;
    box-shadow: 6px 6px 17px 2px rgba(0, 0, 0, .4);
    margin-right: 20px;
    text-align: center;
}

.cohort-graduationGraphBox h3 {
    width: 100%;
    height: 50px;
    padding-top: 18px;
    background: linear-gradient(-45deg, #333, #444);
}

.cohort-projectScoresGraphBox {
    width: calc(49% - 40px);
    height: 78vh;
    background: #282828;
    box-shadow: 6px 6px 17px 2px rgba(0, 0, 0, .4);
    margin-left: 20px;
    text-align: center;
}

.cohort-projectScoresGraphBox h3 {
    width: 100%;
    height: 50px;
    padding-top: 18px;
    background: linear-gradient(-45deg, #333, #444);
}

.cohort-projectScoresKey {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cohort-projectScoresSelector {
    display: flex;
}

.cohort-projectScoresGraphBox img {
    width: 20px;
    height: 20px;
    margin-left: 20px;
    padding-bottom: 3px;
}

.cohort-projectScoresKeyValues {
    width: 200px;
    display: flex;
    align-items: center;
}

.cohort-projectScoresKeyValues div {
    width: 12px;
    height: 12px;
    background: #1a1a1a;
    margin-right: 6px;
}

.cohort-projectScoresKeyValues div:first-child {
    background: #25aae1;
}

.cohort-projectScoresKeyValues h4 {
    margin-right: 20px;
}

.cohort-bottomGraphBox {
    height: calc(100vh - 80px);
    width: calc(100% - 85px);
    margin-left: 72px;
    margin-right: 13px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #1a1a1a;
}

.cohort-pieTotalGraph {
    width: 30%;
    height: 78vh;
    background: #282828;
    box-shadow: 6px 6px 17px 2px rgba(0, 0, 0, .4);
}

.cohort-pieHelpGraph {
    width: 30%;
    height: 78vh;
    background: #282828;
    box-shadow: 6px 6px 17px 2px rgba(0, 0, 0, .4);
}

.cohort-pieStudentRequestGraph {
    width: 30%;
    height: 78vh;
    background: #282828;
    box-shadow: 6px 6px 17px 2px rgba(0, 0, 0, .4);
}

.cohort-pieGraphsNav {
    width: 100%;
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding-top: 4vh;
    padding-bottom: 4vh;

}

.cohort-pieGraphsNav h3 {
    line-height: 20px;
    font-weight: 400;
    letter-spacing: 1px;
}

.cohort-pieGraphsBox {
    width: 100%;
    height: 33vh;

}

.cohort-pieGraphsKeyBox {
    width: 100%;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 4vh;
    padding-bottom: 4vh;
    padding-left: 7vh;

}

/**********************************
*        Calendar Styling        *
***********************************/

.daterangepicker.dropdown-menu {
    background: #282828;
    color: white;
    width: 500px;
    border-radius: 0;
    box-shadow: 6px 6px 17px 2px rgba(0, 0, 0, .4);
    margin-top: -43px;
    z-index: 1;
}

.daterangepicker.opensright:after {
    display: none;
}

.daterangepicker.opensright:before {
    display: none;
}



.month {
    color: white;
}

.daterangepicker .calendar-table {
    background: transparent;
    border: none;
}


.daterangepicker .input-mini.active {
    border-radius: 0;
    border: none;
}

.daterangepicker .input-mini {
    border-radius: 0;
    border: none;
    color: #999999;
    background: #1a1a1a;
}


.daterangepicker td.off, .daterangepicker td.off.in-range, .daterangepicker td.off.start-date, .daterangepicker td.off.end-date {
    background: transparent;
}

.daterangepicker td.active, .daterangepicker td.active:hover {
    background: #25aae1;
}

.daterangepicker td.available:hover, .daterangepicker td.available:hover {
    background: rgba(37, 170, 225, .4);
}

.daterangepicker td.in-range {
    background: #25aae1;
}

.inport-inport-mini.form-control {
    background: linear-gradient(-45deg, #1a1a1a, #333);
    border: none;
    border-radius: 0;
    color: #a0a0a0;
    /*color: white;*/
}

.btn-success {
    background: #1a1a1a;
    border-color: #25aae1;
    width: 100px;
    margin-left: 260px;
}

.btn-default {
    background: #1a1a1a;
    color: white;
    border: 1px solid white;
    width: 100px;
    margin-left: 10px;
}

.btn-default:hover {
    background: white;
    border: 1px solid white;
    color: #25aae1;
}

.btn-default:active:focus {
    background: white;
    border: 1px solid white;
    outline: none;
}

.btn-success:hover {
    background: #25aae1;
    border-color: #25aae1;
}

.btn-success:active:focus {
    background: #25aae1;
    border: 1px solid #25aae1;
    outline: none;
}

/*.btn-success:active {
    background: #25aae1;
}*/

.glyphicon-calendar:before {
    display: none;
}

/**********************************
*       Select Menu Styling       *
***********************************/


.c-hidden {
    visibility:hidden;
    padding-right:10px;
}

.cohort-qTimeGraphsHeader .select {
    cursor:pointer;
    display:inline-block;
    position:relative;
    /*color:#25aae1;*/
    color: white;
    letter-spacing: 2px;
    
}
.cohort-qTimeGraphsHeader .styledSelect {
    position:absolute;
    width: 300px;
    top:0;
    right:0;
    bottom:0;
    left:0;
    background: transparent;
    padding:6px 15px;
    font-size: 16px;
    font-weight: 300;
}
.cohort-qTimeGraphsHeader .styledSelect:after {
    content:"";
    width:0;
    height:0;
    border:5px solid transparent;
    border-color:grey transparent transparent transparent;
    position:absolute;
    top:9px;
    right:6px;
  
}
.cohort-qTimeGraphsHeader.styledSelect:active, .styledSelect.active {
    background-color:#333;
    /*color: #25aae1;*/
    color: white;
}
.cohort-qTimeGraphsHeader .options {
    display:none;
    position:absolute;
    width: 300px;
    top:100%;
    right:0;
    left:0;
    z-index:1;
    margin:0 0;
    padding:10px 15px;
    list-style:none;
    /*border:1px solid #ccc;*/
    color: white;
    background-color:#141414;
    -webkit-box-shadow:0 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow:0 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow:0 1px 2px rgba(0, 0, 0, 0.2);
}
.cohort-qTimeGraphsHeader .options li {
    margin:0 0;
    padding:5px 10px;
}
.cohort-qTimeGraphsHeader .options li:hover {
    background-color:#25aae1;
    color: white;
}


