@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400');

body {
    font-family: 'Montserrat';
}

h1 {
    color: white;
}

h2 {
    font-weight: 300;
    color: white;
    font-size: 20px;
}

h3 {
    font-weight: 300;
    color: white;
    font-size: 16px;
}

h4 {
    font-weight: 400;
    color: #999999;
    font-size: 14px;
}

h5 {
    font-weight: 400;
    color: white;
    font-size: 12px;
    letter-spacing: 2px;
}

p {
    font-weight: 300;
    color: white;
    font-size: 20px;
}