 .home-background {
    height: 100vh;
    width: 100%;
    padding-top: 80px;
    background: linear-gradient(-45deg, #282828, #1a1a1a);
    display: flex;
}

.home-alert {
    width: 42%;
    height: calc(100vh - 160px);
    background: #282828;
    margin: 40px 20px 40px 40px;
    box-shadow: 6px 6px 17px 2px rgba(0, 0, 0, .4);
}

.home-alertTotalBar {
    width: 100%;
    height: 55px;
    background: linear-gradient(-45deg, #333, #444);
    text-align: center;
    padding-top: 20px;
}

.home-alertTotalBar span {
    color: #25aae1;
}

.home-alertFeed {
    width: calc(100% - 40px);
    height: calc(100% - 95px);
    margin: 20px 20px;
}

.home-redAlert {
    height: 110px;
    width: 100%;
    position: relative;
}

.home-alertDisplay {
    width: 100%;
    height: 80px;
    background: #444;
    margin-bottom: 20px;
    border-top: 3px solid #b21818;
    position: absolute;
    z-index: 2;
}

.home-alertDisplay h4 {
    width: 100%;
    height: 30px;
    background: #141414;
    padding-left: 20px;
    padding-top: 9px;
}

.home-alertDisplay:hover {
    display: none;
}

.home-alertButton {
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    background: #141414;
    border-top: 3px solid #282828;
    z-index: 3;
    
}

.home-alertButton:hover {
    display: block;
}



.home-redAlert h5 {
    padding: 10px 15px;
}

.home-yellowAlert {
    width: 100%;
    height: 80px;
    background: #444;
    margin-bottom: 20px;
}

.home-yellowAlert h5 {
    padding: 10px 15px;
}

.home-yellowAlert h4 {
    width: 100%;
    height: 30px;
    background: #141414;
    padding-left: 20px;
    padding-top: 9px;
}






.home-graphs {
    width: 100%;
    height: calc(100vh - 160px);
    margin: 40px 40px 40px 20px;
}

.home-totalQTime {
    width: 100%;
    height: calc(60% - 20px);
    background: #282828;
    margin-bottom: 40px;
    box-shadow: 6px 6px 17px 2px rgba(0, 0, 0, .4);
}

.home-totalGraphBar {
    width: 100%;
    height: 55px;
    background: linear-gradient(-45deg, #333, #444);
    padding-left: 30px;
    padding-top: 20px;
    
}

.home-bottomGraphs {
    width: 100%;
    height: calc(40% - 20px);
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.home-waitQTime {
    width: calc(50% - 20px);
    height: 100%;
    background: #282828;
    box-shadow: 6px 6px 17px 2px rgba(0, 0, 0, .4);
}

.home-helpQTime {
    width: calc(50% - 20px);
    height: 100%;
    background: #282828;
    box-shadow: 6px 6px 17px 2px rgba(0, 0, 0, .4);
}

.home-bottomGraphsBar {
    width: 100%;
    height: 35px;
    background: linear-gradient(-45deg, #333, #444);
    padding-left: 20px;
    padding-top: 12px;

}
