

.main-nav {
    width: 100%;
    height: 80px;
    background: linear-gradient(-45deg, #333, #444);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    z-index: 3;
}

.main-links {
    width: 400px;
    height: 80px;
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.main-links img {
    width: 50px;
    height: 50px;
}

.main-links h2 {
    height: 100%;
    display: flex;
    align-items: center;
    border-bottom: 7px solid transparent;
    padding-top: 7px;

}

.main-links a {
    text-decoration: none;
    color: white;
}

.main-links h2:active {
    border-bottom: 7px solid #25aae1;
}   

.main-user {
    width: 300px;
    margin-right: 30px;
    display: flex;
    justify-content: space-around;
}

.main-user img {
    padding-top: 5px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.main-dropdown {
    background: linear-gradient(-45deg, #333, #444);
    width: 280px;
    padding: 20px;
    margin-top: -150px;
    transition: margin-top 0.4s ease-in-out;
    position: absolute;
    right: 47px;
    z-index: 2;
    box-shadow: 6px 6px 17px 2px rgba(0, 0, 0, .4);
}

.main-dropdown > :first-child {
    margin-bottom: 20px;
}

.main-dropdown p {
    cursor: pointer;
}

.dropdown-transition {
    margin-top: 80px;

}