.surveys-section {
  /*background: linear-gradient(-45deg, #282828, #1a1a1a);*/
  background: #1a1a1a;
  height: 100vh;
  width: 100%;
  padding-top: 90px;
  display: flex;
  align-items: center;
}

.surveys-graphBox {
    width: 90%;
    height: 75vh;
    margin-left: 5%;
    background: #282828;
    box-shadow: 6px 6px 17px 2px rgba(0, 0, 0, .4);
}