.surveys-section {
  background: #1a1a1a;
  height: 100vh;
  width: 100%;
  padding-top: 90px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.survey-lower-sections {
    background: #1a1a1a;
   
    padding-bottom: 10vh;
}

.surveys-graphBox {
    width: 90%;
    height: 75vh;
    margin-left: 5%;
    background: #282828;
    box-shadow: 6px 6px 17px 2px rgba(0, 0, 0, .4);
}

.surveys-alertSection {
  background: #1a1a1a;
  height: 89vh;
  width: 100%;
  padding-top: 20px;
  display: flex;
}

.surveys-alertsContainer {
    width: 90%;
    height: 75vh;
    margin-left: 5%;
    display: flex;
    justify-content: space-between;
}

.surveys-alertBox {
  width: 31%;
  height: 100%;
  box-shadow: 6px 6px 17px 2px rgba(0, 0, 0, .4);
  background: #282828;
}

.surveys-alertFeed {
   width: calc(100% - 40px);
     height: calc(100% - 95px);
     margin: 20px 20px;
     overflow-y: scroll;
     overflow: auto;
}

.surveys-alerts {
     height: 80px;
     width: 100%;
     margin-bottom: 12px;
     /*background: blue;*/
 }

 .surveys-alerts h5 {
     padding: 10px 15px;
     font-size: 10px;
 }

.surveys-alertDisplay {
     width: 100%;
     height: 80px;
     background: #444;
 }

 .surveys-alertDisplay h4 {
     width: 100%;
     height: 30px;
     background: #141414;
     padding-left: 20px;
     padding-top: 9px;
 }

.surveys-boxBar {
    padding-left: 25px;
    padding-right: 25px;
     width: 100%;
     height: 55px;
     background: linear-gradient(-45deg, #333, #444);
     text-align: center;
     display: flex;
     justify-content: space-between;
     align-items: center;
}

.surveys-barGraphBox {
  width: 66%;
  height: 100%;
  box-shadow: 6px 6px 17px 2px rgba(0, 0, 0, .4);
  background: #282828;
}

.survey-ScatterSelectsContainer {
    display: flex;
    width: 450px;
    justify-content: space-between;
}

.survey-ScatterSelectorBackground  {
    background: linear-gradient(-45deg, #222, #333); 
    
}

#surveyTopicLineContainer {
    width: 75%;
    margin: 20px auto 10px auto;
  }